%html
  %head
    %title CAD Prototype A
    = css :all
    = js :all

    -# SVG styles are special styles
    != "<?xml-stylesheet type='text/css' href='css/svg/sketch.css' ?>"

  %body
    -# Toolbars

    #ribbon
      %ul
        %li.ribbon-title CAD Prototype A
        %li
          %a{:href=> '#ribbonTabFile'}
            %span
              %label File
        %li
          %a{:href=> '#ribbonTabSketch'}
            %span
              %label Sketch

      #ribbonTabFile
        %ul
          %li.file-new
            %div
              %span New
          %li.file-open
            %div
              %span Open
          %li.file-save
            %div
              %span Save

      #ribbonTabSketch
        %ul
          - $commands.each do |cmd_set|
            - cmd_set[1].each do |section|
              %li{:class=>"#{cmd_set[0].downcase}-#{css_name(section[0])}-section"}
                %div
                  - section[1].each do |cmd|
                    - css_classes = "cmd #{cmd[1][:css_name].to_s}-button"
                    - css_classes += " disabled" if cmd[1]['disabled'] == true
                    %span{:class=>css_classes, :cmd=>cmd[1][:js_name]}= cmd[0]


    -# SVG Drawing Surface
    .sketch


    -# Selected Element Context Menu
    .sketch-context-menu

