%html
  %head
    %title CAD Prototype A
    = css :all
    = js :all

    -# SVG styles are special styles
    != "<?xml-stylesheet type='text/css' href='css/svg/sketch.css' ?>"

  %body
    -# Toolbars

    .title-bar
      %h3 CAD Prototype A
      #file
        %a.btn.btn-small.file-new{href: "#"}
          %i.icon-file
          New
        %a.btn.btn-small.file-open{href: "#"}
          %i.icon-folder-open
          Open..
        %a.btn.btn-small.file-save{href: "#"}
          %i.icon-ok
          Save
        %a.btn.btn-small.file-save-as{href: "#"}
          %i.icon-pencil
          Save As..
        %a.btn.btn-small.file-cnc{href: "#"}
          %i.icon-download-alt
          Send to CNC


    .cmd-bar.tabbable.tabs-left
      %ul.nav.nav-pills.nav-stacked
        %li.active
          %a{:href => "#sketch-tab", :"data-toggle" => "pill"} Sketch
        %li
          -# %a{:href => "#model-tab", :"data-toggle" => "pill"} Model

      %ul.tab-content
        #sketch-tab.tab-pane.active
          %span{:"data-toggle" => "buttons-radio"}
            - $commands.each do |cmd_set|
              - first_section = true
              - cmd_set[1].each do |section|
                -#.span-4{:class=>"#{cmd_set[0].downcase}-#{css_name(section[0])}-section"}
                - if first_section == false
                  .divider
                - first_section = false
                - section[1].each do |cmd|
                  - css_classes = "cmd #{cmd[1][:css_name].to_s}-button"
                  - css_classes += " disabled" if cmd[1]['disabled'] == true
                  %button.btn{:class=>css_classes, :cmd=>cmd[1][:js_name]}= cmd[0]
        -# #model-tab.tab-pane
        -#  Comming Eventually!


    -# SVG Drawing Surface
    .sketch


    -# Selected Element Context Menu
    .sketch-context-menu


  %script{:id=>"load-modal-template", :type=>"text/x-handlebars-template"}
    != haml :"load-modal.hbar"

  %script{:id=>"save-as-modal-template", :type=>"text/x-handlebars-template"}
    != haml :"save-as-modal.hbar"

  %script{:id=>"delete-files-warning-template", :type=>"text/x-handlebars-template"}
    != haml :"delete-files-warning.hbar"

  #load-modal
  #save-as-modal

